Meals.xcodeproj/xcuserdata/tanner.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcworkspacedata
Meals.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Meals.xcodeproj/project.xcworkspace/xcuserdata/tanner.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Meals.xcodeproj/project.xcworkspace/xcuserdata/tanner.xcuserdatad/UserInterfaceState.xcuserstate
Meals.xcodeproj/project.xcworkspace/xcuserdata/tanner.xcuserdatad/UserInterfaceState.xcuserstate
